@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v29-latin-regular.eot');
  src: url('../fonts/montserrat-v29-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-v29-latin-regular.woff2') format('woff2'),
       url('../fonts/montserrat-v29-latin-regular.woff') format('woff'),
       url('../fonts/montserrat-v29-latin-regular.ttf') format('truetype'), 
       url('../fonts/montserrat-v29-latin-regular.svg#Montserrat') format('svg');
}
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v29-latin-500.eot');
  src: url('../fonts/montserrat-v29-latin-500.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-v29-latin-500.woff2') format('woff2'),
       url('../fonts/montserrat-v29-latin-500.woff') format('woff'),
       url('../fonts/montserrat-v29-latin-500.ttf') format('truetype'), 
       url('../fonts/montserrat-v29-latin-500.svg#Montserrat') format('svg');
}
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v29-latin-600.eot');
  src: url('../fonts/montserrat-v29-latin-600.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-v29-latin-600.woff2') format('woff2'),
       url('../fonts/montserrat-v29-latin-600.woff') format('woff'),
       url('../fonts/montserrat-v29-latin-600.ttf') format('truetype'), 
       url('../fonts/montserrat-v29-latin-600.svg#Montserrat') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v29-latin-700.eot');
  src: url('../fonts/montserrat-v29-latin-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-v29-latin-700.woff2') format('woff2'),
       url('../fonts/montserrat-v29-latin-700.woff') format('woff'),
       url('../fonts/montserrat-v29-latin-700.ttf') format('truetype'), 
       url('../fonts/montserrat-v29-latin-700.svg#Montserrat') format('svg');
}

:root {
  --color-primeri-darck: #111;
  --color-primeri-normal: #1e1823;
  --color-primeri-orange: #fd9222;
  --color-pink: #fcf1e0;
  --color-light: #fafafa;
  --color-white: #ffffff;
  --color-marker-darck: #4c4c4c;
  --color-marker-light: #eceded;
}
 /* Basse */
 
*,
*::after,
*::before {
  box-sizing: border-box; /* контент та падінги додаються всередині бордера*/
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-primeri-darck);
  background-color: var(--color-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
	display: block;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 50px 0;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */

.header.section {
  padding: 0;
}
.header-container {
  display: flex;
  align-items: center;
 }
.header-navigation {
  display: flex;
  align-items: center;
 }
.header-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-primeri-darck);
  line-height: 1.11;
  letter-spacing: -0.03em;
  gap: 4px;
 }

 .header-logo-italic {
   font-style: italic;
 }

.header-logo-icon {
  fill: var(--color-pink);
  stroke: var(--color-primeri-orange);
  margin-right: 447px;
}

.header-menu-list {
   display: flex;
   align-items: center;
   gap: 24px;
   margin-right: 94px;
}

.header-menu-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-primeri-darck);
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--color-primeri-orange);
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 18px;
}


.header-address-link {
  display: flex;
  align-items: center;
}
.header-address-icon {
  stroke: var(--color-primeri-darck);
  fill: var(--color-light);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-icon:hover,
.header-address-icon:focus {
  stroke: var(--color-primeri-orange);
}

/* Hero */
.hero {
  max-width: 1200px;
  background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/chocolate-bg.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 381px 72px 40px;
  margin-bottom: 72px;
  border-radius: 30px;
 }
.hero .container {
  padding: 0;
}
.hero-title {
  max-width: 484px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--color-white);
  margin-bottom: 32px;
}

.hero-batton {
  display: flex;
  align-items: center;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-white);
  border-radius: 100px;
  border: none;
  padding: 14px 40px;
  background-color: var(--color-primeri-orange);
  margin-right: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
color: var(--color-primeri-orange);
background-color: var(--color-pink);
}

.hero-btn-link {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 100px;
  padding: 14px 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-link:hover,
.hero-btn-link:focus {
  border-color: var(--color-primeri-orange);
  color: var(--color-primeri-orange);
  background-color: var(--color-white);
  
}

.hero-btn-scroll {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: var(--color-white);
  margin-left: auto;
}

.wrap-scroll-icon {
  width: 38px;
  height: 38px;
  background-color: var(--color-white);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
}

.hero-scrol-icon {
  fill: var(--color-primeri-orange);
}

.hero-btn-scroll:hover,
.hero-btn-scroll:focus {
  color: var(--color-primeri-orange);
}

.hero-btn-scroll:hover .wrap-scroll-icon,
.hero-btn-scroll:focus .wrap-scroll-icon {
  background-color: var(--color-primeri-orange);
}

.hero-btn-scroll:hover .hero-scrol-icon,
.hero-btn-scroll:focus .hero-scrol-icon {
  fill: var(--color-white);
}

/* Features */
.features {
  background-color: var(--color-primeri-normal);
}

.features-list {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}
.features-item {
  position: relative;
  width: calc((100% - 140px) / 3);
}

.features-item.dicoration::after {
  position: absolute;
  top: 120px;
  left: 270px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 124px;
  height: 0px;
  transform: rotate(-90deg);
  content: '';
}

.wrap-features-icon {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
}

.features-item-icon {
  fill: var(--color-primeri-orange);
}
.features-item-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-white);
  margin-bottom: 18px;
}
.features-item-text {
  max-width: 308px;
  font-size: 14px;
  color: var(--color-white);
}

/* Sensation */

.sensation-title {
  max-width: 411px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primeri-darck);
  margin: 0 auto 28px;
}

.sensation-title-accent {
  color: var(--color-primeri-orange);
}
.sensation-text {
  max-width: 486px;
  font-size: 14px;
  text-align: center;
  margin: 0 auto 50px;
}
.sensation-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 19px;
}
.sensation-item {
  border-radius: 15px;
  padding: 28px 32px;
  width: calc((100% - 57px) / 4);
}
.sensation-item.orange{
  background-color: var(--color-primeri-orange);
}

.sensation-item.dark-blue {
  background-color: var(--color-primeri-normal);
}

.sensation-item.border {
  padding: 27px 31px;
  border: 1px solid var(--color-primeri-orange);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sensation-item {
  position: relative;
  overflow: hidden;
  background-color: var(--color-white);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--color-white);
  overflow: auto;
  transform: translateY(100%); /* - з верху + з низу*/
  /* transform: translateX(100%); - з ліва + з права */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sensation-item:hover .overlay,
.sensation-item:hover  {
  transform: translateY(0);
  /* transform: translateX(0); */
  border-color: var(--color-white);
}

.overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.wrap-overlay-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 14px;
}

.overlay-btn {
  min-width: 81px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  border-radius: 35px;
  padding: 6px 16px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-primeri-orange);
}

.overlay-link {
  display: inline-block;
  font-size: 10px;
  line-height: 1.2;
  color: var(--color-primeri-darck);
  border: 1px solid var(--color-primeri-orange);
  border-radius: 35px;
  padding: 6px 16px;
  min-width: 93px;
}

.overlay-text {
  font-size: 14px;
}

.sensation-item-image {
  margin-bottom: 36px;
}

.sensation-item.orange .sensation-item-text,
.sensation-item.dark-blue .sensation-item-text {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-white);
}

.sensation-item.border .sensation-item-text {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

/* Made */

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.wrap-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.wrap-title-list {
  display: flex;
  flex-direction: column;
  padding: 32px;

  border-radius: 15px;
background-color: var(--color-white);
}

.made-title-accent {
  color: var(--color-primeri-orange);
}
.made-item-title {
  max-width: 350px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 24px;
}
.made-item {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.made-item:not(:last-child) {
  margin-bottom: 24px;
}

.wrap-icon-marker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.made-icon-marker {
  flex-shrink: 0;
  fill: var(--color-marker-darck);
  stroke: var(--color-marker-light);
}
.made-item-text {
  font-size: 14px;
}

/* Section Loved */

.loved .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loved-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.loved-title-accent {
  color: var(--color-primeri-orange);
}
.loved-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 28px;
  margin-bottom: 49px;
}
.loved-item {
  position: relative;
  width: calc((100% - 56px) / 3);
  padding-top: 42px;
}
.loveg-image {
  position: absolute;
  left: 138px;
  top: 0;
  border-radius: 100%;
}

.wrap-loved-content {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding: 56px 24px 24px 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: var(--color-white);
}

.loved-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}
.loved-item-text {
  font-size: 14px;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.loved-btn {
  font-weight: 600;
  font-size: 18px;
  border: 1px solid var(--color-primeri-orange);
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 222px;
  color: var(--color-primeri-darck);
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.loved-btn:hover {
  color: var(--color-white);
  background-color: var(--color-primeri-orange);
}




